
.category{
    background-color: var(--white);
    width: 130px;
    height: 130px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin: 0 .6em 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .6s;
}

.category::after{
    content: "";
    background-color: var(--lblue);
    position: absolute;
    z-index: -1;
    left: -150%;
    right: -25%;
    top: 0;
    bottom: 0;
    transform: skewX(-15deg) scale(0, 1);
    transition: .3s;
}

.category img{
    width: 60%;
    filter: invert(0);
    transition: .6s;
}

.category:hover img {
    filter:  invert(100%);
    transform: scale(1.2);
}

.category:hover::after {
    transform: skewX(-15deg) scale(1, 1);
}

.carousel-control-prev,
.carousel-control-next {
    color: #aaa;
    font-size: 3rem;
    transition: .6s;
}

.carousel-control-prev:visited,
.carousel-control-next:visited,
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:active,
.carousel-control-next:active {
    color: #000;
}

#badminton .carousel-inner{
    display: flex;
    padding: 1em;
    background-color: var(--dblue);
    flex-wrap: nowrap;
}

#badminton .carousel-item{
    display: block;
    flex: 0 0 25%;
    margin: 0 .7em;
}

.card.map-card {
    border-radius: 0;
    border: none;
}

.card.map-card .living-coral {
    background-color: var(--red);
}

.card.map-card .living-coral-text {
    color: var(--red);
}

.card.map-card .table th {
    width: 2rem;
}

.card.map-card .card-body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    overflow: hidden;
    background-color: transparent;
    transition: all 1s;
}

.card.map-card .card-body.closed {
    top: 70%;
}

.card.map-card .map-container {
    overflow: hidden;
    position: relative;
    height: 0;
}

.card.map-card .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card.map-card .button .btn-floating {
  margin-top: -1.5rem;
}